@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.chips-overrides(
    (
      label-text-color: rgb(60, 50, 50),
      label-text-size: "0.5rem",
      outline-color: rgb(60, 50, 50),
    )
  );

  @include mat.card-overrides(
    (
      subtitle-text-color: orange,
      elevated-container-color: red,
    )
  );
}
